---
title: "98-008: Rust Stuco"
description: Intro to the Rust Programming Language @ CMU
layout: layouts/base-nav.njk
---
<div class="container mx-auto max-w-3xl">
    <h1 class="font-display font-semibold text-4xl pt-16 pb-8">
      Intro to the Rust Programming Language
    </h1>
    <br>
    <p>
      Welcome to Intro to the Rust Programming Language! 
    </p>
    <p>
      This website is currently under construction.
    </p> 
</div>