@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-family: 'Nikkyou Sans'; src: url('../fonts/NikkyouSans-mLKax.ttf'); } 

/* ported conveniences from legacy intvstyle */

.parallaxbg {
    @apply bg-cover bg-no-repeat bg-center bg-fixed overflow-hidden;
}

.intvhighlight {
    @apply bg-white text-intv-dark px-1 font-semibold inline-block leading-[1.125]
}

/* rules for the dark mode switch */

#theme-toggle input:checked~span {
    opacity: 1;
}

#theme-toggle.light .thumb {
    left: 0;
}

#theme-toggle.dark .thumb {
    left: 2rem;
}

/* button stuff */

.button {
    @apply px-4 py-2
        text-xl font-display font-medium
        border rounded-lg border-black dark:border-white
        text-black hover:text-white active:text-black
        dark:text-white dark:hover:text-black dark:active:text-white
        bg-transparent hover:bg-black dark:hover:bg-white
        focus:z-10 focus:ring-2 focus:ring-blue-700
    ;
}

.buttons {
    @apply inline-flex rounded-md shadow-sm
}

.buttons .button {
    @apply border-x-0 rounded-none mx-0
}

.buttons .button:first-child {
    @apply rounded-l-lg border-x
}

.buttons .button:last-child {
    @apply rounded-r-lg border-x
}

/* convenient link style */

a.link, .prose a {
    @apply text-amber-600 dark:text-amber-400 no-underline
}

a.link:hover, .prose a:hover {
    @apply text-amber-500  no-underline
}

.image {
    @apply shadow-xl rounded-lg aspect-[3/4] object-cover
}
