<div class="text-center sm:translate-x-16 translate-y-1">
  <div id="theme-toggle" class="relative inline-block m-8" data-state="auto">
    <div class="relative z-10 flex items-center h-4">
      <label class="w-16 h-6 pr-4 relative flex items-center justify-end select-none">
        <input value="light" name="state-d" type="radio" class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" /> 
        <span class="material-symbols-outlined transition-opacity text-black dark:text-white opacity-50 text-lg cursor-pointer">
          light_mode
        </span>
      </label>
      <label class="w-6 h-6 relative select-none">
        <input value="auto" name="state-d" type="radio" checked class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" />
        <span class="absolute block text-xs font-bold font-display -top-4 left-1/2 transform -translate-x-1/2 uppercase  text-black dark:text-white opacity-50 transition-opacity cursor-pointer">
          Auto
        </span>
      </label>
      <label class="w-16 h-6 pl-4 relative flex items-center select-none">
        <input value="dark" name="state-d" type="radio" class="opacity-0 absolute block w-full h-full inset-0 cursor-pointer" /> 
        <span class="material-symbols-outlined text-black dark:text-white opacity-50 text-lg transition-opacity cursor-pointer">
          dark_mode
        </span>
      </label>
    </div>
    <div class="absolute top-0 left-1/2 transform -translate-x-1/2">
      <div class="track w-12 h-4 bg-gray-600 rounded-full shadow-inner"></div>
      <div class="thumb transition-all duration-300 ease-in-out absolute top-0 left-4 w-4 h-4 bg-white border-2 border-gray-800 rounded-full">
      </div>
    </div>
  </div>
</div>