{% extends "oceanic-zen/templates/index.html" %}

{% block main %}
<h1>98-008: Rust Stuco</h1>
<div class="border"></div>
<p>
    Welcome to the course! This is where we'll be putting all of our most important links.
</p>
<ul>
    <li><a href="https://docs.google.com/document/d/1SE3ciVEfbUgSjgDLRdnR2lexlQdiHYGJ2q5QVMHt4IM/edit?usp=sharing">Syllabus</a></li>
    <li><a href="slides/">Slides</a></li>
    <li><a href="https://cmu.zoom.us/my/jrduvall">Zoom Link</a></li>
    <li><a href="https://github.com/Rust-Stuco/puzzles">Homework Handouts (GitHub)</a></li>
    <li><a href="https://www.gradescope.com/courses/279499">Homework Turnin (Gradescope)</a></li>
    <li>New 2/16: <a href="https://docs.google.com/document/d/15IFOmMiMLAt8j6INdXMF1Qct946ZAuY2qKoM5mtc8-U/edit?usp=sharing">Midterm Assignment</a></li>
</ul>
{% endblock main %}
