---
layout: layouts/base.njk
---
{% include "../components/nav.njk" %}
{% include "../components/archive-banner.njk" %}
<main>
    {{ content | safe }}
</main>
{% include "../components/footer.njk" %}

<script src="/assets/js/navbar.js" type="module"></script>
<script src="/assets/js/archive-banner.js"></script>
