---
layout: layouts/base.njk
---
{% include "../components/nav.njk" %}
<main>
    {{ content | safe }}
</main>
{% include "../components/footer.njk" %}

<script src="/assets/js/navbar.js" type="module"></script>